body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  height: 100vh;
  padding: 30px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

img {
  width: 80%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 10px;
}

.tap {
  opacity: 0.6;
}

.letter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.side {
  width: 20%;
  border-radius: 10px;
}

.text {
  width: 50%;
  text-align: left;
}